
.main {
  margin-top: 8vh;
}
.interest{
  margin-top: 8px !important;
}
.assoc-rec{
  display: inline-flex;
  margin-top: 12px !important;
}
.timeline{
  padding: 10px !important;
}
.badge{
  color: #4183c4;
}
.amenu {
	min-height:80vh !important;
	padding:10px;
	margin-top:1rem !important;
}
.mission {
	margin:10px 0 10px 0;
}
.voirplus {
	text-align: center;
	margin-top: 10px;
}
.recherche a {
	color:inherit;
}
