.amenu {
	min-height:80vh !important;
	padding:10px;
	margin-top:1rem !important;
}
.mission {
	margin:10px 0 10px 0;
}
.voirplus {
	text-align: center;
	margin-top: 10px;
}
.recherche a {
	color:inherit;
}
